# https://github.com/elastic/elasticsearch-formal-models/blob/master/.gitignore
**/.DS_Store
*.toolbox/model
*.toolbox/*aux
*.toolbox/*.log
*.toolbox/*.pdf
*.toolbox/*.tex
*.toolbox/*___model_SnapShot*.launch
*.toolbox/**/*.tla
*.toolbox/**/*.out
*.toolbox/**/MC.cfg
*.pdf
*.old
**/*~
cluster/isabelle/output